<h1 class="text-3xl font-bold underline">{{ title }}</h1>
<ul>
  <li *ngFor="let item of items; let i = index; trackBy: trackByIndex">
    <!-- 顯示待辦項目 -->
    <div class="flex ... bg-[#c2e7d9] ... rounded-md">
      <div class="w-4/6 ...">
        <input
          *ngIf="isEditing && editIndex === i"
          [(ngModel)]="item.describe"
          (keyup.enter)="onBlur()"
          (blur)="onBlur()"
        /><!--新增按下enter也能夠變更-->
        <span *ngIf="!isEditing || editIndex !== i">{{
          item.describe
        }}</span>
      </div>

      <div class="w-2/6 ...">
        <!-- 編輯按鈕，點擊後進入編輯模式 -->
        <button (click)="enterEditMode(i, items[i])">編輯</button>

        <button (click)="addFinishedItem(item)">完成</button>
        <button (click)="delete(item)">刪除</button><!--透過ID刪除-->
      </div>
    </div>
  </li>
</ul>
